@import "./resets/config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p,
h2,
h3,
h4,
h5,
h6,
label {
  color: $text-color;
}
a,
a:active {
  text-decoration: none;
  color: $online-status;
}

ul{
  list-style-type: none;
}

.App {
  background-color: $bg-color;
}
img{
  max-width: 200px;
  max-height: 200px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
